@import url(./);

/*初始化代码*/
body,
div,
span,
img,
input,
ul,
li,
a,
p,
i,
em,
b,
strong,
h1,
h2,
h3,
h4,
h5 {
   margin: 0;
   padding: 0;
}

a,
span {
   font-size: 12px;
   color: #999;
   text-decoration: none;
}

a:hover {
   color: #FF0036;
   text-decoration: underline;
}

img {
   border: 0 none;
   vertical-align: middle;
}

li {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
b,
strong {
   font-weight: normal;
}

i,
em {
   font-style: normal;
}

body {
   font: 12px/100% "Microsoft YaHei";
   background-color: #F6E6E6;
}

.w {
   width: 1200px;
   margin: 0 auto;
}

.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   height: 0;
   visibility: hidden;
}

.clearfix {
   *zoom: 1;
}

@import ("//at.alicdn.com/t/c/font_3378747_nts4mrq6glj.css");